:root {
  /* Colors */
  --c-slate-900: hsl(218, 44%, 22%);
  --c-slate-500: hsl(216, 15%, 48%);
  --c-slate-300: hsl(212, 45%, 89%);
  --c-white: hsl(0, 0%, 100%);

  --color-main-bg: var(--c-slate-300);
  --color-text-normal: var(--c-slate-500);
  --color-text-bold: var(--c-slate-900);

  /* Fonts and Spacing */
  --fs-15: calc(15 / 16 * 1rem);
  --fs-22: calc(22 / 16 * 1rem);

  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-500: 40px;

  --font-size-h1: var(--fs-22);
  --font-size-p: var(--fs-15);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: var(--spacing-300);
}

.title {
  color: var(--color-text-bold);
  margin-block-end: var(--spacing-200);
}
