*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* outfit-regular */
@font-face {
  font-display: swap;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/outfit-v15-latin-regular.woff2") format("woff2");
}
/* outfit-700 */
@font-face {
  font-display: swap;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  src: url("/src/assets/fonts/outfit-v15-latin-700.woff2") format("woff2");
}

:root {
  font-family: "Outfit", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.4;

  color: var(--color-text-normal);
  background-color: var(--color-main-bg);
}

body {
  display: flex;
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-size: var(--font-size-h1);
  line-height: 1.2;
}

p {
  font-size: var(--font-size-p);
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}
