.wrapper {
  width: 320px;
  background-color: var(--c-white);
  border-radius: 20px;
  padding: var(--spacing-200);
}

.image {
  border-radius: 10px;
  margin-bottom: var(--spacing-300);
}

.textWrapper {
  padding-inline: var(--spacing-200);
  margin-bottom: var(--spacing-300);
}
